<body class="history_body">
  <div class="container">
    <div class="row align-items-center">
      <div class="col align-self-start">
        <a href="/">
          <div class="history_arrow">←</div>
        </a>
      </div>
      <div class="col align-self-center">
        <h2>每日記錄</h2>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <% records.each do |record| %>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <%= record.created_at.strftime("%F") %>
            </h5>
            <p class="card-text">
              <p><%= record.owned_answers.map {|a| a.answer_content if a.question_num == 3}.join %></p>
              <p>UserName: <%= record.id %></p>
              <a href="/history-each-test/<%= record.id %>/<%= account %>">
                <p> ➡
              </a>
            </p>
          </div>
        </div>
      </div>
    <% end%>
    </div>
  </div>
  <style>
    .history_body{
      position: relative;
      width: 375px;
      height: 812px;
      top: 20px;
    
      background: #FFFFFF;
    }
  </style>
</body>