<body class="history_body">
  <div class="container">
    <div class="row align-items-center">
      <div class="col align-self-start">
        <a href="/">
          <div class="history_arrow">←</div>
        </a>
      </div>
      <div class="col align-self-center">
        <h2>每日記錄</h2>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <% courses.each do |course|
        if course.owncategory.name == category.name
      %>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="<%= course.image %>" />
          <div class="card-body">
            <h5 class="card-title">
              <a class="text-warning" href="<%= course.url %>" style="text-decoration:none; text-align: justify;">
                <%= course.title %>
              </a></h5>
            <p class="card-text">
              <p>Price: <%= course.price %></p>
            </p>
            <p class="card-text">
              <p>Rating: <%= course.rating %></p>
            </p>
          </div>
        </div>
      </div>
    <% end; end %>
    </div>
  </div>
  <style>
    .history_body{
      position: relative;
      width: 375px;
      height: 812px;
      top: 20px;
    
      background: #FFFFFF;
    }
  </style>
</body>